<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>onlineexam</display-name>
  <welcome-file-list>
    <welcome-file>JSP/Homepage.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>controller.Test</servlet-class>  
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>controller.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/A</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegController</display-name>
    <servlet-name>RegController</servlet-name>
    <servlet-class>controller.RegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegController</servlet-name>
    <url-pattern>/RegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Business</display-name>
    <servlet-name>Business</servlet-name>
    <servlet-class>controller.Business</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Business</servlet-name>
    <url-pattern>/Business</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>in</display-name>
    <servlet-name>in</servlet-name>
    <servlet-class>controller.in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>in</servlet-name>
    <url-pattern>/in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>p</display-name>
    <servlet-name>p</servlet-name>
    <servlet-class>controller.p</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>p</servlet-name>
    <url-pattern>/p</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Share</display-name>
    <servlet-name>Share</servlet-name>
    <servlet-class>controller.Share</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Share</servlet-name>
    <url-pattern>/Share</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloader</display-name>
    <servlet-name>FileDownloader</servlet-name>
    <servlet-class>controller.FileDownloader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloader</servlet-name>
    <url-pattern>/FileDownloader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharFile</display-name>
    <servlet-name>SharFile</servlet-name>
    <servlet-class>controller.SharFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharFile</servlet-name>
    <url-pattern>/SharFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareFile</display-name>
    <servlet-name>ShareFile</servlet-name>
    <servlet-class>controller.ShareFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareFile</servlet-name>
    <url-pattern>/ShareFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChart</display-name>
    <servlet-name>GetChart</servlet-name>
    <servlet-class>controller.GetChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChart</servlet-name>
    <url-pattern>/GetChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>offline</display-name>
    <servlet-name>offline</servlet-name>
    <servlet-class>controller.offline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>offline</servlet-name>
    <url-pattern>/offline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>B</display-name>
    <servlet-name>B</servlet-name>
    <servlet-class>controller.B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/B</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloader1</display-name>
    <servlet-name>FileDownloader1</servlet-name>
    <servlet-class>controller.FileDownloader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloader1</servlet-name>
    <url-pattern>/FileDownloader1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>File</display-name>
    <servlet-name>File</servlet-name>
    <servlet-class>controller.File</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>File</servlet-name>
    <url-pattern>/File</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>controller.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  
</web-app>